@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f5f8ff;
  flex-wrap: wrap;
}

.search {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search h2 {
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
}
.search input {
  position: relative;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 15px;
  color: #333;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
  min-width: 400px;
  width: 100%;
}
.search input::-moz-placeholder {
  color: #333;
}
.search input::placeholder {
  color: #333;
}

.form {
  position: relative;
  max-width: 400px;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.01);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.form h3 {
  position: relative;
  color: #333;
  font-weight: 600;
}
.form h3::before {
  content: "+";
  position: absolute;
  left: -20px;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form label {
  text-transform: capitalize;
  margin-top: 15px;
}
.form form input {
  width: 250px;
  outline: none;
  border: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 5px 15px;
  border-radius: 10px;
}
.form form button {
  width: 100px;
  margin-top: 8px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  background: #fff;
  transition: background 1s;
}
.form form button:hover {
  background: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}

.container {
  margin: 0 40px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container.active h1 {
  width: 200px;
  height: 25px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  animation: loading-skeleton infinite 1.5s;
}
.container.active .tab {
  animation: loading-skeleton infinite 1.5s;
}
.container.active .tab input {
  pointer-events: none;
}
.container.active .tab label {
  pointer-events: none;
}
.container.active .tab label h3 {
  width: 150px;
  height: 20px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  animation: loading-skeleton infinite 1.5s;
}
.container.active .tab:nth-child(2) label h2 {
  background: rgba(0, 0, 0, 0.05);
  animation: loading-skeleton infinite 1.5s;
}
.container.active .tab:nth-child(3) label h2 {
  background: rgba(0, 0, 0, 0.05);
  animation: loading-skeleton infinite 1.5s;
}
.container.active .tab:hover label::after {
  color: rgba(0, 0, 0, 0.05);
}
.container h1 {
  color: #333;
  font-weight: 500;
}
.container .tab {
  position: relative;
  background: #fff;
  padding: 0 20px 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
}
.container .tab input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.container .tab input:checked ~ label::after {
  transform: rotate(135deg);
}
.container .tab input:checked ~ label h2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.2);
  font-size: 8em;
  justify-content: flex-end;
  padding: 20px;
}
.container .tab input:checked ~ label h3 {
  background: #fff;
  padding: 2px 10px;
  color: #333;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.container .tab input:checked ~ .content {
  max-height: 100vh;
  transition: 1s;
}
.container .tab input:checked ~ .content h4 {
  color: #fff;
}
.container .tab input:checked ~ .content p {
  color: #fff;
}
.container .tab label {
  display: inline-block;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  cursor: pointer;
}
.container .tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.05);
  transition: transform 1s;
}
.container .tab label h2 {
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}
.container .tab label h3 {
  position: relative;
  font-weight: 500;
  color: #333;
  z-index: 10;
}
.container .tab:hover label::after {
  color: #333;
}
.container .tab .content {
  max-height: 0;
  overflow: hidden;
}
.container .tab .content h4 {
  position: relative;
  margin-top: 5px;
  font-weight: 500;
}
.container .tab .content p {
  position: relative;
  padding: 0 25px;
  color: #333;
  z-index: 10;
}
.container .tab:nth-child(2) label h2 {
  background: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}
.container .tab:nth-child(3) label h2 {
  background: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
}
.container .tab:nth-child(4) label h2 {
  background: linear-gradient(135deg, #ff95f9 10%, #c32bac 100%);
}
.container .tab:nth-child(5) label h2 {
  background: linear-gradient(135deg, #fd6f6a 10%, #ffc600 100%);
}
.container .tab:nth-child(6) label h2 {
  background: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes loading-skeleton {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
}
@media (max-width: 990px) {
  body {
    flex-direction: column;
    align-items: flex-start;
  }
  .search {
    position: relative;
    top: 0;
    margin-top: 50px;
  }
  .form {
    left: 50%;
    transform: translateX(-50%);
  }
  .container {
    margin-top: 50px;
  }
}
@media (max-width: 550px) {
  body {
    padding: 10px 5px 30px;
  }
  .search {
    flex-direction: column;
  }
  .search input {
    min-width: 250px;
  }
  .container {
    align-items: flex-start;
  }
}/*# sourceMappingURL=style.css.map */